body {
    background-color: #5a5;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98vh;
}

#app > div {
    display: flex;
    justify-content: center;
}

#app > div > div {
    width: 30vw;
    height: 30vh;
    background-color: wheat;
    border: 2px solid maroon;
    border-radius: 20%;
}

#app > div > div > h1 {
    color: red;
    font-style: italic;
    text-align: center;
}

#app > div > div > div {
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
}

#app table td {
    border: 2px solid black;
}

#app > div > div > div > button {
    width: 7em;
    margin-top: 3em;
    margin-left: 5em;
    display: inline-block;
    border: 2px solid maroon;
    background: burlywood;
    font-size: 20px;
}

#playground {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3em 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    margin: 0 25%;
    width: 1000px;
}

.pool {
    grid-column: 1 / -1;
    height: 100%;
    background: firebrick;
    justify-content: right;
    color: wheat;
    display: flex;
    padding-right: 2em;
    align-items: center;
}

.holder {
    position: relative;
    width: 75px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5%;
}

.card {
    position: absolute;
    width: 71px;
    height: 96px;
    margin: 0 2px;
}