<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/card.css" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-draggable@1.0.9/lib/vue-draggable.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script type="module" src="js/comp.js"></script>
    <script type="module" src="js/card.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div id="playground" v-drag-and-drop:options="options">
      <div class="pool"> <input type="checkbox" v-model="color"> Инвертировать цвета Игровые часы {{timer}}</div>
      <Stack :stack="holder" @click.native="getFront"> </Stack>
      <div class="holder" ref="fholder">
        <Deck  :item="fholder[0]" :deck="fholder.slice(1)" :hold="true" />
      </div>
      <div></div>
      <Stack :stack="stack[0].stack" ref="c1"></Stack>
      <Stack :stack="stack[1].stack" ref="c2"></Stack>
      <Stack :stack="stack[2].stack" ref="c3"></Stack>
      <Stack :stack="stack[3].stack" ref="c4"></Stack>
      <div class="holder" ref="d1">
        <Deck :item="decks[0][0]" :deck="decks[0].slice(1)" :ofs="ofs" />
      </div>
      <div class="holder" ref="d2">
        <Deck :item="decks[1][0]" :deck="decks[1].slice(1)" :ofs="ofs" />
      </div>
      <div class="holder" ref="d3">
        <Deck :item="decks[2][0]" :deck="decks[2].slice(1)" :ofs="ofs" />
      </div>
      <div class="holder" ref="d4">
        <Deck :item="decks[3][0]" :deck="decks[3].slice(1)" :ofs="ofs" />
      </div>
      <div class="holder" ref="d5">
        <Deck :item="decks[4][0]" :deck="decks[4].slice(1)" :ofs="ofs" />
      </div>
      <div class="holder" ref="d6">
        <Deck :item="decks[5][0]" :deck="decks[5].slice(1)" :ofs="ofs" />
      </div>
      <div class="holder" ref="d7">
        <Deck :item="decks[6][0]" :deck="decks[6].slice(1)" :ofs="ofs" />
      </div>
    </div>
    <script type="module">
      import * as extern from "/js/card.js";
      import { Deck, Stack } from "/js/comp.js";
      let interv = null;
      Vue.use(VueDraggable.default);
      var app = new Vue({
        el: "#playground",
        components: {
          Deck: Deck, Stack: Stack
        },
        data: function() {
          return {
            decks: [[], [], [], [], [], [], []], //деки - основная мясорубка
            stack: [
              { suit: null, stack: [] },
              { suit: null, stack: [] },
              { suit: null, stack: [] },
              { suit: null, stack: [] }
            ], // стеки - для четырех мастей (отбой)
            holder: [], // опущенные которые ждут пока добо... Пользователь их по одной натаскает и пристроит в эту оргию
            fholder: [],
            ofs: 0, //начальный сдвиг карты. О - стандарт, после этого станет 20. !0 - будет везде один и тот же
            options: {
              //Настройки перетаскивания НЕТРОГАТЬУБЬЮСУКА!!!!!
              dropzoneSelector: "div.holder",
              draggableSelector: "div.card",
              onDragstart: function(event) {
                //Перехват попыток таскать карту с рубашкой вверх
                if (!event.items[0].__vue__._props.item.up) event.stop();
              },
              onDragend: this.dragEnd
            },
            game: true,
            date: moment(),
            color: true
          };
        },
        watch: {
          color: function(val) {
            if (val) {
              document.querySelector('body').style.backgroundColor = "#5a5";
              document.querySelector('.pool').style.backgroundColor = "firebrick";
            } else {
              document.querySelector('body').style.backgroundColor = "dodgerblue";
              document.querySelector('.pool').style.backgroundColor = "darkmagenta";
            }
          }
        },
        computed: {
          timer: function () {
            let tm = this.date.format('mm:ss');
            if (tm == '00:00') {
              clearInterval(interv);
              alert('Игра закончена Т.Т');
              localStorage.setItem('res', 'no');
              location.assign('res.html');
            }
            return tm;
          }
        },
        methods: {
          getFront: function() {
            if (this.holder.length == 0) {
              this.fholder = this.fholder.map(it => {it.revert(); return it;});
              this.holder = this.fholder;
              this.fholder = [];
            } else {
              let rem = this.holder.splice(0,1)[0];
              rem.revert();
              this.fholder.push(rem);
            }
          },
          shuffle: array => {
            // перемешивание массива
            var currentIndex = array.length,
              temporaryValue,
              randomIndex;
            while (0 !== currentIndex) {
              randomIndex = Math.floor(Math.random() * currentIndex);
              currentIndex -= 1;

              temporaryValue = array[currentIndex];
              array[currentIndex] = array[randomIndex];
              array[randomIndex] = temporaryValue;
            }

            return array;
          },
          getId: function(el) {
            // грязной магии в ленту
            while (
              !el.classList.contains("holder") // если нет класса holder то значит надо выйти выше
            )
              el = el.parentNode;
            for (let ref in this.$refs) //дошли до начала дек. Теперь поймем к какой оно относится (через массив $refs)
              if (this.$refs[ref] === el || (this.$refs[ref].$el !== undefined && this.$refs[ref].$el === el)) return ref;
            return null;
          },
          getMove: function(event) {
            let target = this.getId(event.droptarget); //С помощью уличной магии Вуду (см наверх) ловим куда карту послали
            let owner = this.getId(event.owner); // ну и заодно откуда она такая красивая приперлась
            let tnum = parseInt(target.charAt(1)) - 1; // номер деки-куда
            let onum = parseInt(owner.charAt(1)) - 1; // номер деки-откуда
            return {
              type:
                target.charAt(0) != "d"
                  ? target.charAt(0) != "c"
                    ? "holder"
                    : "stack"
                  : "deck",
              target: [target, tnum],
              owner: [owner, onum]
            };
          },
          dragEnd: function(event) {
            // Магия становится нигерского оттенка кожи
            let card = event.items[0].__vue__._props.item; //через инъекцию vue ловим значение карты сообщенное компоненту
            let move = this.getMove(event);
            switch (move.type) {
              case 'deck':
                if (!this.aproved(card, move.target[1])) event.stop();
                if (move.owner[0].charAt(0) == 'd') {
                  let rem = this.decks[move.owner[1]].splice(this.decks[move.owner[1]].indexOf(card)); // вырезаем из деки1 все после+ карты которую послали
                  this.$set(this.decks, move.target[1], this.decks[move.target[1]].concat(rem)); // пришили обрезок в деку2
                } else if (move.owner[0].charAt(0) == 'f'){
                  let rem = this.fholder.pop();
                  this.$set(this.decks, move.target[1], this.decks[move.target[1]].concat(rem));
                }
                break;
              case 'stack':
                let rem = [];
                if ((move.owner[0].charAt(0) == 'd' && [...this.decks[move.owner[1]]].pop() != card)
                  || move.owner[0].charAt(0) == 'c') event.stop() //Чтобы только единичная карта могла сюда пройти
                if ((this.stack[move.target[1]].stack.length == 0 && card.rank != 0) || 
                    (this.stack[move.target[1]].stack.length > 0 && [...this.stack[move.target[1]].stack].pop().rank + 1 != card.rank))
                     event.stop();
                // воу да ты типа как взлослая в стек...
                if (this.stack[move.target[1]].suit === null) {
                  // а стек то целка
                  if (card.rank > 0) event.stop(); // если не туз то дефлорация запрещена
                  // провесим ему табличку с цветом
                  this.$set(this.stack[move.target[1]], "suit", extern.SUITS[card.suit]);
                } else if (this.stack[move.target[1]].suit != extern.SUITS[card.suit]) event.stop();
                this.stack[move.target[1]].stack.push(card);
                if (move.owner[0].charAt(0) == 'd')
                this.decks[move.owner[1]].splice(this.decks[move.owner[1]].indexOf(card),1);
                else this.fholder.splice(this.fholder.indexOf(card));
                break;
              default:
                event.stop();
            }
            this.refresh(); // Гюльчитай, открой личико!!
            event.stop(); // А теперь рявкнули библиотеки чтобы не творила левой хуйни
          },
          aproved: function(card, t) {
            //Можно ли делать перенос
            let recipient = [...this.decks[t]].pop(); //Поймали конец массива-приемщика
            if (recipient === undefined && card.rank == 12) return true; // Только король достоен пустого слота!
            if (recipient === undefined) return false;
            if (recipient.isRed() == card.isRed()) return false; // Один цвет = один пол. Я гомофоб!!!
            if (recipient.rank - 1 != card.rank) return false; //А еще я против маргинальных браков!
            return true; //вроде чистоту крови соблюли
          },
          refresh: function() { //переворачиваем те карты что лежат сверху и рубашкой вверх + проверяем на конец игры
            let wr = this.decks;
            for (let index = 0; index < wr.length; index++)
              if (wr[index].length > 0 && !wr[index][wr[index].length - 1].up)
                wr[index][wr[index].length - 1].revert();
            this.decks = wr;
            let flag = 0;
            this.stack.forEach(it => {if (it.stack.length == 13) flag++;});
            if (flag == 4) {
              clearInterval(interv);
              localStorage.setItem('res', this.game ? 'maybe' : 'yes');
              localStorage.setItem('time', this.time);
              location.assign('res.html');
            }
          }
        },
        created() { //проверяем вбит ли параметр игры
          if (localStorage.getItem('game') != 'true' && localStorage.getItem('game') != 'false'){
            localStorage.removeItem('game');
            location.replace('index.html');
          }
        },
        beforeMount() {  // выполняем перед отрисовкой страницы
          let preDeck = [];
          for (const s in extern.SUITS) {
            //Разметили новую колоду
            for (const r in extern.RANKS) {
              preDeck.push(new extern.Card(s, r));
            }
          }
          preDeck = this.shuffle(preDeck); //перемешали
          this.decks = [
            //раскидали "счастливчиков" по декам
            [preDeck[0]],
            preDeck.slice(1, 3),
            preDeck.slice(3, 6),
            preDeck.slice(6, 10),
            preDeck.slice(10, 15),
            preDeck.slice(15, 21),
            preDeck.slice(21, 28)
          ];
          this.holder = preDeck.slice(28); // остальные свалили в очередь
          this.refresh();
          this.game = localStorage.getItem('game') == 'true';
          localStorage.removeItem('game');
          if (!this.game) {
            this.date = moment(5 * 60 * 1000);
            interv = setInterval(()=> {
              this.date = moment(this.date.subtract(1, 'seconds'))
            }, 1000);
          } else {
            let min = parseInt(this.timer.substr(0, 2));
            let sec = parseInt(this.timer.substr(3,2));
            this.date = moment(this.date.second(1));
            this.date = moment(this.date.subtract(min, 'minutes'));
            interv = setInterval(()=> {
              this.date = moment(this.date.add(1, 'seconds'))
            }, 1000);
          }
        },
      });
    </script>
  </body>
</html>
