<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css/card.css" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <div>
                <h1>Игра окончена</h1>
                <table style="margin-left: 30%; ">
                    <thead>
                        <th>Время в секунадах</th>
                        <th>Имя</th>
                    </thead>
                    <tr v-for="(item, index) in record" :key="index">
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
    <script>
        new Vue({
            el: "#app",
            data: {
                record: JSON.parse(localStorage.getItem("record")),
                name: "---"
            },
            methods: {
                abs: function (str) {
                    return str.substr(0, 2) * 1 + str.substr(3, 2) * 1;
                }
            },
            mounted() {
                if (localStorage.getItem("res") != "no") {
                    this.name = prompt(
                        "Хотите оставить свое име? Иначе не покажу таблицу рекордов",
                        "---"
                    );
                    if (this.name != "---") {
                        if (localStorage.getItem("res") == "maybe")
                            this.record = JSON.parse(localStorage.getItem("pleasure"));
                        else this.record = JSON.parse(localStorage.getItem("record"));
                        if (this.record === null)
                            this.record = [
                                [this.abs(localStorage.getItem("time")), this.name]
                            ];
                        else
                            this.record.push([
                                this.abs(localStorage.getItem("time")),
                                this.name
                            ]);
                        if (localStorage.getItem("res") == "maybe")
                            this.record.sort((a, b) => {
                                a[0] - b[0];
                            });
                        else
                            this.record.sort((a, b) => {
                                b[0] - a[0];
                            });
                        this.record.splice(7);
                        if (localStorage.getItem("res") == "maybe")
                            localStorage.setItem("pleasure", JSON.stringify(this.record));
                        else localStorage.setItem("record", JSON.stringify(this.record));
                    }
                } 
            }
        });
    </script>
</body>

</html>